<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--作用域-->
<mapper namespace="edu.nju.antiTerroristFinancialBehavior.mapper.FirstIndexMatrixMapper" >

    <insert id="insertMatrix" parameterType="FirstIndexMatrix">
        insert into tb_first_index_matrix(`first_index`,`professor`, `matrix`) values(#{first_index.id},#{professor},#{matrix})
    </insert>

    <select id="findAllMatrix" parameterType="FirstIndex"  resultType="String">
        SELECT matrix FROM tb_first_index_matrix WHERE first_index = #{id}
    </select>




</mapper>