<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--作用域-->
<mapper namespace="edu.nju.antiTerroristFinancialBehavior.mapper.FirstIndexMapper" >

    <!--resultMap对应的是表与实体类的映射  - type 数据库表对应的实体类，别名或完整类名都可以-->
    <resultMap id="BaseResultMap" type="edu.nju.antiTerroristFinancialBehavior.model.FirstIndex" >
        <!-- 结果集的主键 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <!-- 普通的列  -column 是数据库中字段， property是实体类中字段-->
        <result column="index_name" property="index_name" jdbcType="VARCHAR" />
        <result column="desc" property="desc" jdbcType="VARCHAR" />
        <result column="weight_num" property="weight_num" jdbcType="INTEGER" />
        <result column="weight_deno" property="weight_deno" jdbcType="INTEGER" />
    </resultMap>


    <!--parameterType(输入类型)、resultType(输出类型)-->
    <select id="findFirstIndexById" parameterType="Integer" resultMap="BaseResultMap" resultType="edu.nju.antiTerroristFinancialBehavior.model.FirstIndex">
        SELECT * FROM tb_first_index WHERE id = #{id}
    </select>

    <select id="findAllFirstIndex" resultType="edu.nju.antiTerroristFinancialBehavior.model.FirstIndex">
        select * from tb_first_index
    </select>

    <!--通过一级指标查找所属的二级指标-->
    <select id="findSecondIndices" parameterType="Integer" resultType="edu.nju.antiTerroristFinancialBehavior.model.SecondIndex">
        select * from tb_second_index where first_index = #{id}
    </select>

</mapper>