<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--作用域-->
<mapper namespace="edu.nju.antiTerroristFinancialBehavior.mapper.ThirdIndexMatrixMapper" >

    <insert id="insertMatrix" parameterType="ThirdIndexMatrix">
        insert into tb_third_index_matrix(`third_index`,`professor`, `matrix`) values(#{third_index.id},#{professor},#{matrix})
    </insert>

    <select id="findAllMatrix" parameterType="ThirdIndex"  resultType="String">
        SELECT matrix FROM tb_third_index_matrix WHERE third_index = #{id}
    </select>




</mapper>