<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--作用域-->
<mapper namespace="edu.nju.antiTerroristFinancialBehavior.mapper.ThirdIndexMapper" >

    <!--resultMap对应的是表与实体类的映射  - type 数据库表对应的实体类，别名或完整类名都可以-->
    <resultMap id="ThirdIndexResultMap" type="edu.nju.antiTerroristFinancialBehavior.model.ThirdIndex" >
        <!-- 结果集的主键 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <!-- 普通的列  -column 是数据库中字段， property是实体类中字段-->
        <result column="index_name" property="index_name" jdbcType="VARCHAR" />
        <result column="desc" property="desc" jdbcType="VARCHAR" />
        <result column="weight_num" property="weight_num" jdbcType="INTEGER" />
        <result column="weight_deno" property="weight_deno" jdbcType="INTEGER" />
        <!--关联对象-->
        <association property="first_index" column="first_index" select="getFirstIndex" javaType="FirstIndex" />
        <association property="second_index" column="second_index" select="getSecondIndex" javaType="SecondIndex" />
    </resultMap>


    <!--通过三级指标查找所属的四级指标-->
    <select id="findFourthIndicesByThirdIndexId" parameterType="Integer" resultType="edu.nju.antiTerroristFinancialBehavior.model.FourthIndex">
        select * from tb_fourth_index where third_index = #{id}
    </select>

    <!--查找一个三级指标所属二级指标-->
    <select id="getThirdIndexParentId" parameterType="Integer" resultType="Integer">
        select second_index from tb_third_index where id = #{thirdIndexId}
    </select>

    <!--查找三级指标-->
    <select id="findThirdIndexById" parameterType="Integer" resultType="ThirdIndex" resultMap="ThirdIndexResultMap">
        select * from tb_third_index where id = #{id}
    </select>

    <!--关联查询-->
    <select id="getFirstIndex" parameterType="Integer" resultType="edu.nju.antiTerroristFinancialBehavior.model.FirstIndex">
        select * from tb_first_index where id = #{id}
    </select>
    <select id="getSecondIndex" parameterType="Integer" resultType="edu.nju.antiTerroristFinancialBehavior.model.SecondIndex">
        select * from tb_second_index where id = #{id}
    </select>
</mapper>