<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/js/jquery/jquery-1.7.1.js"></script>
    <link href="/css/basic_layout.css" rel="stylesheet" type="text/css">
    <link href="/css/common_style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/authority/commonAll.js"></script>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox-1.3.4.css" media="screen"></link>
    <script type="text/javascript" src="/js/artDialog/artDialog.js?skin=default"></script>
    <title>金融指标建模系统</title>
    <script type="text/javascript">
        $(document).ready(function(){

            /**编辑   **/
            $("a.edit").fancybox({
                'width' : 733,
                'height' : 530,
                'type' : 'iframe',
                'hideOnOverlayClick' : false,
                'showCloseButton' : false,
                'onClosed' : function() {
                    window.location.href = '/weightMatrix';
                }
            });
        });
        /** 用户角色   **/
        var userRole = '';

        /** 模糊查询来电用户  **/
        function search(){
            $("#submitForm").attr("action", "/weightMatrix?page=" + 1).submit();
        }

        /** 新增   **/
        function add(){
            $("#submitForm").attr("action", "/xngzf/archives/luruFangyuan.action").submit();
        }



    </script>
    <style>
        .alt td{ background:black !important;}
    </style>
</head>
<body>
<h3>模型说明---层次分析法</h3>
层次分析法是一种将定性与定量分析方法相结合的多目标决策分析方法。
<br>该法的主要思想是通过将复杂问题分解为若干层次和若干因素,对两两指标之间的重要程度作出比较判断,建立判断矩阵,通过计算判断矩阵的最大特征值以及对应特征向量,就可得出不同方案重要性程度的权重,为最佳方案的选择提供依据。
<br>请您在点击“开始评分”按钮之后，逐一点击左侧指标树中的各指标，其对应的子指标判别矩阵将被显示与右侧界面内。请充分运用您的专业知识，发挥您的科学精神，根据下面的等级量表，在判别矩阵中填入数字，以表示指标间的相对可疑程度。
<div id="container">
    <div class="ui_content">
        <center><h3>层次分析法权值设置标准</h3></center>
        <div class="ui_tb">
            <table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                <tr>
                    <th>相对重要程度</th>
                    <th>说明</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>横向指标与纵向指标对目标同样重要</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>横向指标比纵向指标略微重要</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>横向指标比纵向指标重要</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>横向指标比纵向指标显著重要</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>横向指标比纵向指标极显重要</td>
                </tr>
                <tr>
                    <td>2,4,6,8</td>
                    <td>相邻判断中间值</td>
                </tr>
                <tr>
                    <td>以上数字的倒数</td>
                    <td>若纵向指标比横向指标重要，则记为1/3、1/5、1/7、1/9</td>
                </tr>

            </table>
        </div>
        <br>
        <h3>举例:</h3>
        <div class="ui_tb">
            <table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                <tr>
                    <th></th>
                    <th>内容服务</th>
                    <th>硬件服务</th>
                    <th>人工服务</th>
                </tr>
                <tr>
                    <td>内容服务</td>
                    <td>1</td>
                    <td>5(a12)</td>
                    <td>2(a13)</td>
                </tr>
                <tr>
                    <td>硬件服务</td>
                    <td>\</td>
                    <td>1</td>
                    <td>1/3(a23)</td>
                </tr>
                <tr>
                    <td>人工服务</td>
                    <td>\</td>
                    <td>\</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<br>a12单元格内数字为5，表明内容服务相比硬件服务重要
<br>a13单元格内数字为2，表明内容服务相比人工服务介于相等重要和略微重要之间
<br>a23单元格内数字为1/3，表明硬件服务相比人工服务略微不重要

<h3><a href="/everyIndexMark?indexId=4">开始评分</a></h3>
</body>
</html>
