<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="/js/jquery/jquery-1.7.1.js"></script>
    <link href="/css/basic_layout.css" rel="stylesheet" type="text/css">
    <link href="/css/common_style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/authority/commonAll.js"></script>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox-1.3.4.css" media="screen"></link>
    <script type="text/javascript" src="/js/artDialog/artDialog.js?skin=default"></script>
    <title>金融指标建模系统</title>
    <script type="text/javascript">
        $(document).ready(function () {
            /** 新增   **/
            $("#addBtn").fancybox({
                'href': '/weightEdit',
                'width': 733,
                'height': 530,
                'type': 'iframe',
                'hideOnOverlayClick': false,
                'showCloseButton': false,
                'onClosed': function () {
                    window.location.href = '/weightList/45';
                }
            });

            /**编辑   **/
            $("a.edit").fancybox({
                'width': 733,
                'height': 530,
                'type': 'iframe',
                'hideOnOverlayClick': false,
                'showCloseButton': false,
                'onClosed': function () {
                    window.location.href = '/weightList/45';
                }
            });
        });
        /** 用户角色   **/
        var userRole = '';

        /** 新增   **/
        function add() {
            $("#submitForm").attr("action", "/xngzf/archives/luruFangyuan.action").submit();
        }

        /** 删除 **/
        function del(indexID) {
            // 非空判断
            if (indexID == '') return;
            if (confirm("您确定要删除吗？" + indexID)) {
                $("#submitForm").attr("action", "/xngzf/archives/delFangyuan.action?fyID=" + indexID).submit();
            }
        }

        /** 批量删除 **/
        function batchDel() {
            if ($("input[name='IDCheck']:checked").size() <= 0) {
                art.dialog({icon: 'error', title: '友情提示', drag: false, resize: false, content: '至少选择一条', ok: true,});
                return;
            }
            // 1）取出用户选中的checkbox放入字符串传给后台,form提交
            var allIDCheck = "";
            $("input[name='IDCheck']:checked").each(function (index, domEle) {
                bjText = $(domEle).parent("td").parent("tr").last().children("td").last().prev().text();
// 			alert(bjText);
                // 用户选择的checkbox, 过滤掉“已审核”的，记住哦
                if ($.trim(bjText) == "已审核") {
// 				$(domEle).removeAttr("checked");
                    $(domEle).parent("td").parent("tr").css({color: "red"});
                    $("#resultInfo").html("已审核的是不允许您删除的，请联系管理员删除！！！");
// 				return;
                } else {
                    allIDCheck += $(domEle).val() + ",";
                }
            });
            // 截掉最后一个","
            if (allIDCheck.length > 0) {
                allIDCheck = allIDCheck.substring(0, allIDCheck.length - 1);
                // 赋给隐藏域
                $("#allIDCheck").val(allIDCheck);
                if (confirm("您确定要批量删除这些记录吗？")) {
                    // 提交form
                    $("#submitForm").attr("action", "/xngzf/archives/batchDelFangyuan.action").submit();
                }
            }
        }

    </script>
    <style>
        .alt td {
            background: black !important;
        }
    </style>
</head>
<body>
<form id="submitForm" name="submitForm" action="" method="post">
    <input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
    <input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
    <div id="container">
        <div class="ui_content">
            <div class="ui_text_indent">
                <input type="button" value="新增" class="ui_input_btn01" id="addBtn"/>
                <input type="button" value="删除" class="ui_input_btn01" onclick="batchDel();"/>
                <input type="button" value="导入" class="ui_input_btn01" id="importBtn"/>
                <input type="button" value="导出" class="ui_input_btn01" onclick="exportExcel();"/>
            </div>
        </div>

        <div class="ui_content">
            <div class="ui_tb">
                <table class="table" cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
                    <tr>
                        <th width="2%"><input type="checkbox" id="all" onclick="selectOrClearAllCheckbox(this);"/></th>
                        <th width="25%">指标名称</th>
                        <th width="10%">维度</th>
                        <th width="10%">类型</th>
                        <th width="15%">范围</th>
                        <th width="28%">量化标准（计算方法）</th>
                        <th width="10%">操作</th>
                    </tr>
                    <tr th:each="fourthIndex: ${fourthIndices}" >
                        <td><input type="checkbox" name="IDCheck" value="14458579642011" class="acb"/></td>
                        <td th:text="${fourthIndex.index_name}"></td>
                        <td th:text="${fourthIndex.dimension}"></td>
                        <td th:text="${fourthIndex.type}"></td>
                        <td th:text="${fourthIndex.range}"></td>
                        <td th:text="${fourthIndex.normalize}"></td>
                        <td><a th:onclick="del([[${fourthIndex.id}]])" style="color:red">删除</a>&nbsp; | &nbsp;<a th:href="@{'/weightEdit/'+ ${fourthIndex.id}}" class="edit">编辑</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>

</body>
</html>
