<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/js/jquery/jquery-1.7.1.js"></script>
    <link href="/css/basic_layout.css" rel="stylesheet" type="text/css">
    <link href="/css/common_style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/authority/commonAll.js"></script>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox-1.3.4.css" media="screen"></link>
    <script type="text/javascript" src="/js/artDialog/artDialog.js?skin=default"></script>
    <title>金融指标建模系统</title>
    <script type="text/javascript">
        $(document).ready(function(){

            /**编辑   **/
            $("a.edit").fancybox({
                'width' : 733,
                'height' : 530,
                'type' : 'iframe',
                'hideOnOverlayClick' : false,
                'showCloseButton' : false,
                'onClosed' : function() {
                    window.location.href = '/weightMatrix';
                }
            });
        });
        /** 用户角色   **/
        var userRole = '';

        /** 模糊查询来电用户  **/
        function search(){
            $("#submitForm").attr("action", "/weightMatrix?page=" + 1).submit();
        }

        /** 新增   **/
        function add(){
            $("#submitForm").attr("action", "/xngzf/archives/luruFangyuan.action").submit();
        }



    </script>
    <style>
        .alt td{ background:black !important;}
    </style>
</head>
<body>
<h3><a href="/weightModel" class="edit">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;？模型说明---层次分析法</a></h3>
<form id="submitForm" name="submitForm" action="" method="post">
    <input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
    <input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
    <div id="container">
        <div class="ui_content">
            <p>这里应该是一个矩阵---相应指标</p>
            <div class="ui_tb">
                <table class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                    <tr>
                        <th width="30"><input type="checkbox" id="all" onclick="selectOrClearAllCheckbox(this);" />
                        </th>
                        <th>指标名称</th>
                        <th>描述</th>
                        <th>指标类型</th>
                        <th>量化标准</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="IDCheck" value="14458579642011" class="acb" /></td>
                        <td>账户短期内（如10 个营业日）累计超过规定限额的现金收付 </td>
                        <td></td>
                        <td>连续（带限额后离散）</td>
                        <td>[2]短期为10个营业日[7]10天内短期现金总金额不低于1000000元：否：0   是：1</td>
                        <td>无</td>
                        <td>
                            <a href="/weightModel" class="edit">说明</a>
                        </td>
                    </tr>



                </table>
            </div>

        </div>
    </div>
</form>

</body>
</html>
