<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--作用域-->
<mapper namespace="edu.nju.antiTerroristFinancialBehavior.mapper.weight.FourthIndexWeightMapper" >

    <!--resultMap对应的是表与实体类的映射  - type 数据库表对应的实体类，别名或完整类名都可以-->
    <resultMap id="BaseResultMap" type="edu.nju.antiTerroristFinancialBehavior.model.weight.FourthIndexWeight" >
        <!-- 普通的列  -column 是数据库中字段， property是实体类中字段-->
        <result column="fourth_index" property="fourth_index.id" jdbcType="BIGINT" />
        <result column="result_weight" property="weight" jdbcType="DOUBLE" />
    </resultMap>
    <insert id="insertWeight" parameterType="FourthIndexWeight">
        insert into tb_fourth_index_weight(`fourth_index`,`professor`, `weight`) values(#{fourth_index.id},#{professor},#{weight})
    </insert>

    <select id="findAllWeight" parameterType="FourthIndex"  resultType="Double">
        SELECT weight FROM tb_fourth_index_weight WHERE fourth_index = #{id}
    </select>

    <select id="findWeight" resultType="Double">
        SELECT weight FROM tb_fourth_index_weight WHERE fourth_index = #{fourthIndexId} and professor = #{professor}
    </select>

    <insert id="insertFinalWeight" parameterType="FourthIndexWeight">
        insert into tb_result_weight(`fourth_index`, `result_weight`) values(#{fourth_index.id},#{weight})
    </insert>

    <select id="findFinalWeight" resultMap="BaseResultMap" parameterType="edu.nju.antiTerroristFinancialBehavior.model.FourthIndex">
        SELECT fourth_index,result_weight FROM tb_result_weight WHERE fourth_index = #{id}
    </select>

</mapper>