<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--作用域-->
<mapper namespace="edu.nju.antiTerroristFinancialBehavior.mapper.weight.ThirdIndexWeightMapper" >

    <insert id="insertWeight" parameterType="ThirdIndexWeight">
        insert into tb_third_index_weight(`third_index`,`professor`, `weight`) values(#{third_index.id},#{professor},#{weight})
    </insert>

    <select id="findAllWeight" parameterType="ThirdIndex"  resultType="Double">
        SELECT weight FROM tb_third_index_weight WHERE third_index = #{id}
    </select>

    <select id="findWeight" resultType="Double">
        SELECT weight FROM tb_third_index_weight WHERE third_index = #{thirdIndexId} and professor = #{professor}
    </select>


</mapper>