<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/js/jquery/jquery-1.7.1.js"></script>
    <link href="/css/basic_layout.css" rel="stylesheet" type="text/css">
    <link href="/css/common_style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/authority/commonAll.js"></script>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox-1.3.4.css" media="screen"></link>
    <script type="text/javascript" src="/js/artDialog/artDialog.js?skin=default"></script>
    <title>金融指标建模系统</title>
    <script type="text/javascript">
        $(document).ready(function(){

            /**编辑   **/
            $("a.edit").fancybox({
                'width' : 733,
                'height' : 530,
                'type' : 'iframe',
                'hideOnOverlayClick' : false,
                'showCloseButton' : false,
                'onClosed' : function() {
                    window.location.href = '/weightMatrix';
                }
            });
        });
        /** 用户角色   **/
        var userRole = '';

        /** 模糊查询来电用户  **/
        function search(){
            $("#submitForm").attr("action", "/weightMatrix?page=" + 1).submit();
        }

        /** 新增   **/
        function add(){
            $("#submitForm").attr("action", "/xngzf/archives/luruFangyuan.action").submit();
        }



    </script>
    <style>
        .alt td{ background:black !important;}
    </style>
</head>
<body>
<form id="submitForm" name="submitForm" action="" method="post">
    <input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
    <input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
    <div id="container">
        <div class="ui_content">
            <div><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;算法选择&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;可视化选项</p></div>
            <div class="ui_tb">
                <select name="algorithms">
                    <option value="0">DBSCAN</option>
                    <option value="1">CURE</option>
                    <option value="2">OneClassSVM</option>
                    <option value="3">IsolationFores</option>
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <select name="visual operations">
                    <option value="0">Graph</option>
                    <option value="1">Table</option>
                </select>
            </div>

            <div>
                <p>以下为可视化区（待定）</p>
            </div>
        </div>
    </div>
</form>
</body>
</html>